.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;

  /* width: 100vw;
  height: 100vw */
}

.App .container {
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  display: flex;
  flex-flow: row wrap;
  background: pink;
  justify-content: center;
  height: clamp(400px, 100vh, 500px);
  flex: 0 0 clamp(360px, 100vw, 400px);
}

.item {
  flex: 0 0 33.33%;
}

.btn {
  background: #66d40c;
  width: 90%;
  height: 90%;
  margin: 5%;
}

.tut {
  margin-top: 20px;
}
